body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
.container {
    position: relative;
    display: inline;
    align-self: center;
}
.header {
    background-color: #00ffff;
    text-align: center;
}

.title-row {
    margin-top: 42px;
    margin-bottom: 21px;
    text-align: center;
}

.instructions-title {
    display: inline;
    font-size: 18px;
    color: #00ffff;
    font-family: 'Work Sans';
}
.instructions-row {
    margin: 0 auto;
    width: 400px;
}
.instructions-number {
    padding-right: 25px;
    font-family: 'Work Sans';
    font-size: 36px;
    color: #00ffff;
}
.instructions-text {
    padding: 10px;
    font-family: 'work sans';
    font-size: 20px;
    color: rgb(6, 1, 52);
}

.door-row {
    text-align: center;
}

.door-frame {
    cursor: pointer;
    padding: 10px;
}

.start-row{
    margin: auto;
    width: 120px;
    height: 43px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color: #eb6536;
    padding-top: 18px;
    font-size: 18px;
    text-align: center;
    color: #010165;
    margin-bottom: 21px;
    cursor: pointer;
}